body {
	margin: 30px 0 0;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

header {
	display: flex;
	justify-content: center;
}

.side-menu {
	background-color: black;
	width: 80vw;
	min-width: 700px;
	min-height: 89px;
	display: flex;
	justify-content: center;
	opacity: 0.8;
}

.side-menu > a {
	display: flex;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Open Sans;
	color: white;
	font-weight: bold;
	min-height: 89px;
	align-items: center;
	padding: 0 30px;
}

.side-menu > a:hover {
	background-color: #FF3F40;;
}

main {
	display: flex;
	justify-content: center;
}

.level_1 {
	display: flex;
	width: 80vw;
	min-width: 700px;
	justify-content: space-between;
	margin: 5vw 0;
}

.left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.left h1 {
	text-transform: uppercase;
	font-family: Open Sans;
	font-weight: bolder;
	font-size: 4vw;
	margin: 0 0 2vw;
}

.left > a {
	margin: 0;
	padding: 1vw 4vw 1vw;
	font-size: 1vw;
	border-radius: 5px;
	font-family: Open Sans;
	font-weight: bold;
	text-decoration: none;
	color: white;
	background-color: #FF2D2D;
	max-width: 6vw;
}

.left p {
	font-family: Open Sans;
	font-size: 1vw;
	margin: 0;
}

.right img {
	width: 40vw;
}

@media (max-width: 1080px){
	.left h1 {
		font-size: 100px;
	}
	.left > a {
		font-size: 25px;
		padding: 25px 70px;
		max-width: 140px;
	}
	.left p {
		font-size: 24px;
	}
	.level_1 {
		margin: 25px;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 1100px;
	}
	.right {
		display: flex;
		align-items: flex-end;
	}
	.right img {
		width: 870px;
	}
}