body {
	margin: 30px 0 0;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

header {
	display: flex;
	justify-content: center;
}

.side-menu {
	background-color: black;
	width: 80vw;
	min-width: 700px;
	min-height: 89px;
	display: flex;
	justify-content: center;
	opacity: 0.8;
}

.side-menu > a {
	display: flex;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Open Sans;
	color: white;
	font-weight: bold;
	min-height: 89px;
	align-items: center;
	padding: 0 30px;
}

.side-menu > a:hover {
	background-color: #FF3F40;;
}

main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.level_1 {
	display: flex;
	width: 80vw;
	min-width: 700px;
	justify-content: space-between;
	margin: 5vw 0;
}

.left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.left h1 {
	text-transform: uppercase;
	font-family: Open Sans;
	font-weight: bolder;
	font-size: 4vw;
	margin: 0 0 2vw;
}

.left > a {
	margin: 0;
	padding: 1vw 4vw 1vw;
	font-size: 1vw;
	border-radius: 5px;
	font-family: Open Sans;
	font-weight: bold;
	text-decoration: none;
	color: white;
	background-color: #FF2D2D;
	max-width: 6vw;
}

.left p {
	font-family: Open Sans;
	font-size: 1vw;
	margin: 0;
}

.right img {
	width: 40vw;
}

.level_2 {
	display: flex;
	width: 80vw;
	min-width: 700px;
	justify-content: space-between;
}

.lleft {
	display: flex;
	flex-wrap: wrap;
	max-width: 40vw;
	justify-content: space-around;
}

.lright h1 {
	font-family: Open Sans;
	font-weight: normal;
	font-size: 3vw;
	text-transform: uppercase;
	margin: 0 0 2vw;
}

.lright p {
	font-family: Open Sans;
	font-size: 1vw;
}

.lright > a {
	font-family: Open Sans;
	font-size: 1vw;
	border: 2px solid red;
	font-weight: bold;
	text-decoration: none;
	color: #FF2D2D;
	border-radius: 5px;
	margin: 0;
	padding: 1vw 4vw;
}

.lleft h2 {
	font-family: Open Sans;
	font-weight: normal;
	font-size: 2vw;
	margin: 0;
}

.lleft p {
	font-family: Open Sans;
	font-size: 1vw;
}

.lright > div {
	margin-bottom: 5vw; 
}

@media (max-width: 1080px){
	.left h1 {
		font-size: 9vw;
	}
	.left > a {
		font-size: 2vw;
		padding: 2vw 4vw;
		max-width: 12vw;
	}
	.left p {
		font-size: 2vw;
	}
	.level_1 {
		margin: 25px;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 100vw;
	}
	.right {
		display: flex;
		align-items: flex-end;
	}
	.right img {
		width: 79vw;
	}
	.level_2 {
		justify-content: space-between;
		height: 100vw;
		flex-wrap: wrap;
	}
	.lright h1 {
		font-size: 7vw;
	}
	.lright p {
		font-size: 2vw;
	}
	.lright > a {
		padding: 2vw 5vw;
		font-size: 2vw;
	}
	.lleft {
		max-width: 1249px;
		justify-content: space-between;
	}
	.lleft h2 {
		font-size: 5vw;
	}
	.lleft p {
		font-size: 2vw;
	}
}